@page
@model Employees.Web.Pages.Employee.CreateModel
@{
}
    <p>this is new employee create page</p>

    <div>
   <partial name="_employeeCreate.cshtml" />
   <input type="hidden" id="hdnempid" asp-for="employeeId" />
    </div>

