@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to iValley Employee assignment</h1>
    <p>Please use above menu options to navigate</p>
</div>
